@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #010824;
  color: #eee;
  font-size: 15px;
  min-height: 100vh;
  background-image: linear-gradient(to right, transparent 0 49px, #eee1 49px),
    linear-gradient(to bottom, transparent 0 49px, #eee1 49px);
  background-size: 50px 50px;
  /* &::before {
    position: fixed;
    width: 400px;
    height: 400px;
    content: '';
    background-image: linear-gradient(to right, #d02e23, #7a43b6);
    z-index: -1;
    top: -200px;
    left: calc(50% - 200px);
    border-radius: 50% 50% 0% 0%;
    pointer-events: none;
    filter: blur(250px);
  } */
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}
.animate-shine {
  animation: shine 2s linear infinite;
}

.bg-200 {
  background-size: 200% auto;
}
